{% extends 'base.html.twig' %}

{% block body %}
    <h1>Actors list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Personaje</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for actor in actors %}
            <tr>
                <td><a href="{{ path('actor_show', { 'id': actor.id }) }}">{{ actor.id }}</a></td>
                <td>{{ actor.nombre }}</td>
                <td>{{ actor.personaje }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('actor_show', { 'id': actor.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('actor_edit', { 'id': actor.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('actor_new') }}">Create a new actor</a>
        </li>
    </ul>
    {% for msg in app.flashes('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}
{% endblock %}
