{% extends 'base.html.twig' %}

{% block body %}
    <h1>imagenes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Ruta</th>
                <th>Peliculaid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for imagenes in imagenes %}
            <tr>
                <td><a href="{{ path('imagenes_show', { 'id': imagenes.id }) }}">{{ imagenes.id }}</a></td>
                <td>{{ imagenes.nombre }}</td>
                <td>{{ imagenes.ruta }}</td>
                <td>{{ imagenes.peliculaId }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('imagenes_show', { 'id': imagenes.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('imagenes_edit', { 'id': imagenes.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('imagenes_new') }}">Create a new imagenes</a>
        </li>
    </ul>
    {% for msg in app.flashes('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}
{% endblock %}
