{% extends 'base.html.twig' %}

{% block body %}
    <h1>imagenes</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ imagenes.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ imagenes.nombre }}</td>
            </tr>
            <tr>
                <th>Ruta</th>
                <td>{{ imagenes.ruta }}</td>
            </tr>
            <tr>
                <th>Peliculaid</th>
                <td>{{ imagenes.peliculaId }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('imagenes_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('imagenes_edit', { 'id': imagenes.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
